<div class="container" style="margin: 20px;">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">Resultados</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-wrap">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Servicio</th>
                            <th>Fecha</th>
                            <th>Trabajo</th>
                            <th>Presupuesto</th>
                            <th>Observaciones</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="alert" role="alert" *ngFor="let dato of datos">
                            <th scope="row">{{dato?.servicios_nombre}}</th>
                            <td>{{dato?.trabajo_fecha | date:'dd-MM-yyyy HH:mm'}}</td>
                            <td>{{dato?.trabajo_descripcion}}</td>
                            <td>{{dato?.trabajo_presupuesto}}</td>
                            <td>{{dato?.trabajo_comentario}}</td>
                            <td>
                                <span
                                    [ngClass]="{'badge-success': dato?.trabajo_estado === 'Finalizado', 'badge-warning': dato?.trabajo_estado === 'Consulta', 'badge-danger': dato?.trabajo_estado === 'Rechazado'}">{{dato?.trabajo_estado}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>