<div class="container" style="margin: 25px;">
  <div class="card">
    <div class="row">
      <div class="col">
        <img src="/assets/img/Electricista.png" style="height: 100%; width: 100%;" class="img-fluid rounded-start"
          alt="Foto perfil">
      </div>
      <div class="col">
        <div class="card-body">

          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">Mario Bros</li>
            <li class="list-group-item">Telefono : </li>
            <li class="list-group-item">Correo : </li>
            <li class="list-group-item">Calificacion : </li>
            <li class="list-group-item">Disponibilidad : </li>
            <li class="list-group-item"></li>
          </ul>
          <div class="text-center">
            <a class="icon-link icon-link-hover" href="#">
              <i class="bi bi-arrow-left flecha"></i>
              Anterior
            </a>

            <button type="button" class="btn btn-success">Contratar</button>

            <a class="icon-link icon-link-hover" href="#">
              Siguiente
              <i class="bi bi-arrow-right flecha"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>