.cartas {
    background-color: black;
    background-size: initial;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
}

.geo,
.horario {
    font-size: 16px;
}