.imagen-perfil {
    width: 128px;
    height: 128px;
    border: 1px solid black;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}