<div class="container" style="margin: 20px;">
    <main *ngIf="!error && !ok">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/assets/img/contacto.png" alt="">
            <h2>Contacto</h2>
            <p class="lead">Trabajamos día a día para mejorar nuestro servicio y garantizar la plena satisfacción de
                nuestros clientes.</p>
        </div>

        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last" *ngFor="let perfil of dataPerfil">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Servicio</span>
                    <span class="badge bg-primary rounded-pill">{{perfil?.servicios_nombre}}</span>
                </h4>
                <div class="contenedor">
                    <div>
                        <img class="imagen-perfil" src={{perfil?.usuario_foto}}>
                    </div>
                </div>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">{{perfil?.usuario_nombre}} {{perfil?.usuario_apellido}}</h6>
                        </div>
                        <small class="text-body-secondary">{{perfil?.datos_calificacion}} <i
                                class="bi calificacion bi-star-fill"></i></small>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Ultima conexion</h6>
                        </div>
                        <small class="text-body-secondary">{{perfil?.usuario_ultConec}}</small>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Telefono</h6>
                        </div>
                        <small class="text-body-secondary">{{perfil?.datos_telefono}}</small>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Correo</h6>
                        </div>
                        <small class="text-body-secondary">{{perfil?.usuario_correo}}</small>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Distancia</h6>
                        </div>
                        <small class="text-body-secondary">{{perfil?.datos_telefono}}</small>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Disponibilidad</h6>
                        </div>
                        <small class="text-body-secondary">{{perfil?.datos_disponibilidad}}</small>
                    </li>
                </ul>
            </div>
            <div class="col-md-7 col-lg-8" *ngFor="let usuario of dataUsuario">
                <h4 class="mb-3">Datos de contacto</h4>
                <form class="needs-validation" novalidate [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="in-calle" class="form-label">Tu direccion</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text"><b class="bi bi-geo-alt"
                                        style="font-size: 16px;"></b></span>
                                <input type="text" class="form-control" id="calle" value="{{usuario?.datos_calle}}"
                                    required formControlName="calle">
                                <div class="invalid-feedback">
                                    Se necesita indicar direccion
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label">Tu correo</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text"><b class="bi bi-envelope-at"
                                        style="font-size: 16px;"></b></span>
                                <input type="email" class="form-control" id="email" formControlName="email">
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="telefono" class="form-label">Tu telefono</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text"><b class="bi bi-phone"
                                        style="font-size: 16px;"></b></span>
                                <input type="number" class="form-control" id="telefono" formControlName="telefono">
                            </div>
                        </div>

                        <div class="col-md-5">
                            <label for="turno" class="form-label">Turno</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text"><b class="bi bi-clock-history"
                                        style="font-size: 16px;"></b></span>
                                <select class="form-select" id="turno" required formControlName="turno">
                                    <option value="">Elegir...</option>
                                    <option value="Mañana">Mañana</option>
                                    <option value="Tarde">Tarde</option>
                                    <option value="Noche">Noche</option>
                                </select>
                                <div class="invalid-feedback">
                                    Elige una opcion.
                                </div>
                            </div>
                        </div>

                        <div class="col-md-7">
                            <label for="observacion" class="form-label">Observacion</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text"><b class="bi bi-info"
                                        style="font-size: 16px;"></b></span>
                                <input type="text" class="form-control" id="observacion" formControlName="observacion">
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">
                    <label for="texto" class="form-label">Trabajo a solicitar</label>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Descripcion del trabajo a realizar" required
                            id="floatingTextarea" formControlName="trabajo"></textarea>
                    </div>

                    <hr class="my-4">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </main>
</div>
<div *ngIf="error" style="align-items: center;">
    <div class="container px-4 py-5">
        <p><span class="badge text-bg-danger">{{errorMsg}}</span></p>
        <p>· Revisá los datos ingresados.</p>
        <p>· Navegá por las categorías para encontrar un servicio</p>
    </div>
</div>
<div *ngIf="ok" style="align-items: center;">
    <div class="container px-4 py-5">
        <b class="bi bi-calendar-check" style="font-size: 128px;color: green;"></b>
        <p>Tu mensaje fue enviado!.</p>
        <p>Estate atento a la respuesta del prestador y coordinar el trabajo.</p>
    </div>
</div>