<div class="container">
    <main>
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/assets/img/contacto.png" alt="">
            <h2>Contacto</h2>
            <p class="lead">Trabajamos día a día para mejorar nuestro servicio y garantizar la plena satisfacción de
                nuestros clientes.</p>
        </div>

        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Servicio</span>
                    <span class="badge bg-primary rounded-pill">Plomero</span>
                </h4>
                <div class="contenedor">
                    <div class="imagen-perfil"></div>
                </div>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Mario Bros</h6>
                        </div>
                        <small class="text-body-secondary">5 *</small>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Ultima conexion</h6>
                        </div>
                        <small class="text-body-secondary">2023-12-03 16:02:15</small>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Celular</h6>
                        </div>
                        <small class="text-body-secondary">1523568980</small>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Correo</h6>
                        </div>
                        <small class="text-body-secondary">mario.bros@nintendo.com</small>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Distancia</h6>
                        </div>
                        <small class="text-body-secondary">3km.</small>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Disponibilidad</h6>
                        </div>
                        <small class="text-body-secondary">Manana</small>
                    </li>
                </ul>
            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Datos de contacto</h4>
                <form class="needs-validation" novalidate>
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="in-calle" class="form-label">Tu direccion</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text"><b class="bi bi-geo-alt"
                                        style="font-size: 16px;"></b></span>
                                <input type="text" class="form-control" id="in-calle" value="Calle 123" required>
                                <div class="invalid-feedback">
                                    Se necesita indicar direccion
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label">Tu correo</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text"><b class="bi bi-envelope-at"
                                        style="font-size: 16px;"></b></span>
                                <input type="email" class="form-control" id="email" value="you@example.com">
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="telefono" class="form-label">Tu telefono</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text"><b class="bi bi-phone"
                                        style="font-size: 16px;"></b></span>
                                <input type="number" class="form-control" id="telefono" value="1568322240">
                            </div>
                        </div>

                        <div class="col-md-5">
                            <label for="turno" class="form-label">Turno</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text"><b class="bi bi-clock-history"
                                        style="font-size: 16px;"></b></span>
                                <select class="form-select" id="turno" required>
                                    <option value="">Elegir...</option>
                                    <option>Manana</option>
                                    <option>Tarde</option>
                                    <option>Noche</option>
                                </select>
                                <div class="invalid-feedback">
                                    Elige una opcion.
                                </div>
                            </div>
                        </div>

                        <div class="col-md-7">
                            <label for="observacion" class="form-label">Observacion</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text"><b class="bi bi-info"
                                        style="font-size: 16px;"></b></span>
                                <input type="text" class="form-control" id="observacion" value="">
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">
                    <label for="texto" class="form-label">Trabajo a solicitar</label>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Descripcion del trabajo a realizar"
                            id="floatingTextarea"></textarea>
                    </div>
                    <hr class="my-4">

                    <h4 class="mb-3">Medio de pago</h4>

                    <div class="my-3">
                        <div class="form-check">
                            <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked
                                required>
                            <label class="form-check-label" for="credit">Efectivo/Debito</label>
                        </div>
                        <div class="form-check">
                            <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
                            <label class="form-check-label" for="debit">Tarjeta de credito</label>
                        </div>
                        <div class="form-check">
                            <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
                            <label class="form-check-label" for="paypal">Billetera virtual</label>
                        </div>
                    </div>

                    <hr class="my-4">

                    <button class="w-100 btn btn-primary btn-lg" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </main>
</div>