@import "~bootstrap-icons/font/bootstrap-icons.css";

.calificacion {
    color: gold;
    width: 1em;
    height: 1em;
}

.cartas {
    background-color: black;
    background-size: initial;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}